@{
    ViewData["Title"] = "Home Page";
}



<main class="px-3 text-center text-white">
    <br />
    <h1>Welcome!</h1>
    <p class="lead">Entertainer hub is your go-to site for browsing local entertainers</p>
    <br />
    <br />
    <p class="lead">
        <a asp-controller="Home" asp-action="Entertainers" class="btn btn-lg btn-light fw-bold border-white bg-white">View Entertainers</a>
    </p>
</main>

    
